<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
			<table>
				<% if (restaurant.photo) { %>
				 	<tr><td rowspan = "15"><img src="data:image/jpg;base64, <%=restaurant.photo%>" width="480px" height="320px"></td><br><h4><span class="badge badge-info" style="margin-top:10px">Mimetype: </span></h4><h4><%=  restaurant.mimetype%><h4></tr>
					
				<% } %>
				<tr><td colspan="2" ><h1 >Restaurant Details:<h1><td></tr><hr>
				<tr class="bg-info"><td colspan="2"><h4><span class="badge badge-info">Address:</span></h4></td></tr>
				<tr><td style="width:25%"><h4><span class="badge badge-info" style="margin-top:10px">Name: </span></h4></td><td><h4><%=  restaurant.name%><h4></td></tr>
				<tr><td><h4><span class="badge badge-info">Borough: </span></h4></td><td><h4><%=  restaurant.borough%><h4></td></tr>
				<tr><td><h4><span class="badge badge-info">Cuisine: </span></h4></td><td><h4><%=  restaurant.cuisine%><h4></td></tr>
				<tr class="bg-danger"><td colspan="2"><h4><span class="badge badge-danger">Address:</span></h4></td></tr>
				<tr><td><h4 style="margin-top:10px"><span class="badge badge-danger">Street: </span></h4></td><td><h4><%=  restaurant.address.street%><h4></td></tr>
				<tr><td><h4><span class="badge badge-danger">Building: </span></h4></td><td><h4><%=  restaurant.address.building%><h4></td></tr>
				<tr><td><h4><span class="badge badge-danger">Zipcode: </span></h4></td><td><h4><%=  restaurant.address.zipcode%><h4></td></tr>
				<tr><td><h4><span class="badge badge-danger">Coordinate: </span></h4></td><td><h4><%=  restaurant.address.coord%><h4></td></tr>
				<tr><td></td><td><a href="/map?coordx=<%= restaurant.address.coord[0] %>&coordy=<%= restaurant.address.coord[1] %>">Map</a></td></tr>
				<tr class="bg-warning"> <td colspan="2"><h3><span class="badge badge-Warning">Grades:</span></h3></td></tr>
				<tr><td></td><td><ul>
				<% for (let i of restaurant.grades){ %>
				<li><%= i.users %>:  <%= i.score %></li>
				<% } %>
				</ul></td></tr>
				<tr><td><h4><span class="badge badge-secondary">Owner: </span></h4></td><td><h4><%=  restaurant.owner%><h4></td></tr>
			</table>
			<a href="/find"><button class="btn btn-secondary">Back</button></a><span>      </span>
			<a href="/rate?_id=<%=restaurant._id%>"><button class="btn btn-success">Rate</button></a><span>      </span>
			<a href="/edit?_id=<%=restaurant._id%>"><button class="btn btn-primary">Edit</button></a><span>      </span>
			<a href="/delete?_id=<%=restaurant._id%>"><button class="btn btn-danger">Delete</button></a>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>		
	</body>
</html>
