<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body>	
		<div class="container-fluid">
			<h1><center>Restaurant List:</center></h1>
			<h3>User: <%= user %><a href="/logout"><button class="btn btn-primary">Logout</button></a></h3>
			<p> Showing <%=nRestaurant%> documents (criteria:  <%=  criteria %> )</p>
			<a href="/new"><button class="btn btn-primary">Create new restaurant</button></a><br>
			<form action="/search" method="GET" >
				<select name="selected">
					<option value="name"> Name </option>
					<option value="cuisine"> Cuisine </option>
					<option value="borough"> Borough </option>
				</select>
			  	<input value="" name="search" placeholder="Seach here">
				<input type="submit" class="btn btn-primary" value="Search">
			</form>

			<hr>
			<table class="table table-striped">
				<% for (var rest of restaurant) {%>
				<tr>
				<td><a href="/details?_id=<%=rest._id%>"><%=rest.name%></a></td>
				</tr>
				<% } %>
			</table>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	
	</body>
</html>

